<div class="row">
  <div class="column small-12 red-row box-shadow text-center">
    <%= fa_icon "graduation-cap", :class => "fa-5x" %>
    <h2 class="subheader text-center mainheader">Create Education</h2>
  </div>
</div>

<div class="row orange-row">
  <%= form_for [@user, @education] do |edu| %>

    <%= render(:partial => 'form', :locals => {:edu => edu}) %>

    <div class="columns small-8 small-offset-2 end">
    <%= edu.submit("Submit", :class => "button button_dropshadow button-red") %>
    </div>
  <% end %>
</div>
