<div class="row">
  <h2 class="subheader">Edit Job <%= @job.position %></h2>
  <%= form_for [@employer, @job] do |job| %>

    <%= render(:partial => 'form', :locals => {:job => job}) %>

    <%= job.submit("Edit Job", :class => "success button") %>
  <% end %>
</div>
