<div class="row v-center-align">
  <h2 class="subheader text-center mainheader">Delete User</h2>
  <%= form_for(@user, :method => 'delete') do |user| %>
    <p class="text-center">Are you sure you want to delete <%= user.object.username %>'s profile?</p>
    <%= user.submit("Delete User", :class => "alert button button-center") %>
  <% end %>
</div>
