<div class="row">
  <h2 class="subheader text-center mainheader">Create New User</h2>
  <%= form_for(@user) do |user| %>

    <%= render(:partial => 'form', :locals => {:user => user}) %>

    <div class="columns small-offset-2 small-8 end">
      <%= user.submit("Create Account", :class => "button") %>
    </div>
  <% end %>
</div>
