<div class="row">
  <div class="columns small-12" id="index_bg_container">
    <div class="background-gradient-overlay"></div>
    <!-- this is the orange overlay that is absolute so that it doesnt make everything opaque -->
    <!-- <span class="orange_overlay"></span> -->
    <div class="heading-box">
        <h1 class="hidden_h1">Hire.Me</h1>
          <span class="large_headline_first">hire.</span>
          <span class="large_headline_second">me</span>
        <p class="orange-paragraph">helping working students succeed</p>
        <ul class="menu index-menu">
          <li>
              <%= button_to("Sign Up", "access/signup_choice", :class=>"button button-red-large button_spacing") %>
          </li>
          <li>
              <%= link_to("login", "access/login") %>
          </li>
        </ul>
    </div>
  </div>
</div>

<div class="row index-content-row">
  <div class="columns small-6">
    <div class="row column spacer">
    </div>
    <div class="row column" id="picture-index-row-1">
      <%= image_tag("shaking-hands.jpg", :class => "user_picture") %>
    </div>
  </div>

  <div class="columns small-6">
    <div class="row column spacer spacer-orange">
    </div>
    <div class="row column">
      <div class="triangle triangle-white"></div>
      <div class="triangle triangle-red"></div>
      <div class="triangle triangle-orange"></div>
      <h2>What?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
         occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
       incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
       exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
       in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <h2>Why?</h2>
  </div>
</div>
