<div class="row expanded">
  <div class="columns small-12">
    <!-- this is the orange overlay that is absolute so that it doesnt make everything opaque -->
    <!-- <span class="orange_overlay"></span> -->
    <div class="v-center-align">
        <h1 class="text-center">hire.me</h1>
        <ul class="menu">
          <li>
              <%= link_to("Sign Up", "access/signup_choice", :class=>"button button_spacing button_dropshadow") %>
          </li>
          <li>
              <%= link_to("Login", "access/login", :class=>"button button_spacing button_dropshadow") %>
          </li>
        </ul>
    </div>
  </div>
</div>
