<div class="row">
  <div class="column small-12">
    <p>You are logged in as:</p>
    <p><%= link_to("Manage Admin Users", "#") %></p>
    <p><%= link_to("Logout", access_logout_path) %></p>
  </div>
</div>
