<div class="row expanded">
  <h1 class="signup-headline v-center-align">Who are you?</h1>
  <div class="columns small-6 content-expand" id="student-signup">
    <div class="background-gradient-overlay"></div>
    <%= link_to("Student", new_user_path, :class=>"signup-button") %>
  </div>
  <div class="columns small-6 content-expand" id="employer-signup">
    <div class="background-gradient-overlay"></div>
    <%= link_to("Employer", new_employer_path, :class=>"signup-button") %>
  </div>
</div>
