<div class="row">
  <h2 class="subheader text-center mainheader">Edit Employer</h2>
  <%= form_for(@employer) do |employer| %>

    <%= render(:partial => 'form', :locals => {:employer => employer}) %>
    <div class="columns small-8 small-offset-2 end">
      <%= employer.submit("Update Employer", :class => "button button_dropshadow") %>
    </div>
  <% end %>
</div>
