<div class="row">
  <div class="column small-12 red-row box-shadow text-center">
    <%= fa_icon "building", :class => "fa-5x" %>
    <h2 class="subheader text-center mainheader">Create New Employer Profile</h2>
  </div>
</div>

<div class="row orange-row">
  <%= form_for(@employer) do |employer| %>

    <%= render(:partial => 'form', :locals => {:employer => employer}) %>
    <div class="small-4 small-offset-2 columns end">
      <%= employer.submit("Sign up!", :class => "button button-red button_dropshadow") %>
    </div>
  <% end %>
</div>
