// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------------------------------------
// Index styling
#index_bg_container {
  position: relative;
  background-image: url('./designimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.index-content-row {
  // margin-top: -1.5em;
  transform: translateY(-20px);
  // border: 1px solid black;
  max-height: 400px;
  // max-height: 500px;
}

.index-content {
}

.index-content p {
  padding: 50px 50px 0 50px;
}

#picture-index-row-1 {
  background-image: url('./pride-in-handshake.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
}

#picture-index-row-2 {
  background-image: url('./graduation2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
}

#picture-index-row-3 {
  background-image: url('./searching.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
}

#picture-index-row-4 {
  background-image: url('./profile.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
}

#picture-index-row-5 {
  background-image: url('./access.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
}

// --------------------------------------------------

// First page heading styling

.index-menu {
  padding-left: 30px;
}

.heading-box {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 8%;
}

.hidden_h1 {
  visibility: hidden;
}

.large_headline_first {
  font-size: 3em;
  // margin-left:;
}

.large_headline_second {
  display: block;
  font-size: 20em;
  margin-left: -100px;
  margin-top: -70px;
  line-height: .8em;
}

.heading-box p {
  // padding-top: ;
  font-size: 2em;
}

// --------------------------------------------------
// Boxes and triangle styling
.spacer {
  height: 20px;
  padding: 0;
  margin:0;
}

.spacer-orange {
  background-color: #ff8300;
}

.spacer-white {
  background-color: #fff;
}

.white-block {
  background-color: white;
  height: 380px;
  color: #ff8300;
  text-align: right;
}

.white-block h2 {
  color: #ff8300;
  text-align: right;
}

.triangle {
  transform: translateY(-400px);
  height: 400px;
  // float: right;
}

.triangle-none-image-gradient {
  transform: translateY(-20px);
  height: 400px;
}

.triangle-orange {
  text-align: right;
}

.triangle-white {
  text-align: left;
}

// --------------------------------------------------
// Login and signup styling

.content-expand {
  height: 100vh;
}

.signup-headline {
  z-index: 2;
}

.signup-button {
  position: absolute;
  font-size: 3em;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.signup-button-link {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

#student-signup {
  position: relative;
  z-index: 1;
  text-align: right;
}

#student-signup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url('student.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

#employer-signup {
  position: relative;
  z-index: 1;
}

#employer-signup:hover > .background-gradient-overlay, #student-signup:hover > .background-gradient-overlay {
  opacity: 0;
}

#employer-signup:hover > .signup-button, #student-signup:hover > .signup-button {
  opacity: 1;
  color: white;
}

#employer-signup::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url('employer.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

// --------------------------------------------------
