/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


/*GENERAL STYLES*/
/*@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/orangejuice.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

body, html {
  background-color: #ff8300;
  font-family: 'OpenSans-Regular', sans-serif;;
}

#container {
  min-height: calc(100vh - 170px);
  margin-bottom: 20px;
}

.top-bar {
  box-shadow: 0px 10px 15px rgba(130, 54, 0, 0.3);
}

.footer {
  background-color: rgb(229, 117, 0);
  box-shadow: inset 0px 10px 15px rgba(130, 54, 0, 0.3);
  padding: 50px;
  height: 150px;
}

table {
  box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
}

.mainheader {
  padding: 20px;
}

.v-center-align {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

 /*BUTTON STYLING*/
 .button {
   background-color: #ff8300;
   box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
 }

 .button-center {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .button_spacing {
   margin: 0 10px 0 10px;
 }

 .button_dropshadow {

 }

   /*Button hover states*/
   .button:hover {
     background-color: #ff8300;
     box-shadow: 0px 0px 5px rgba(130, 54, 0, 0.5);
     transition: box-shadow 0.3s;
   }


/*CALLOUT STYLING*/
/*fade out animation for the callout box*/
.callout {
  left: 35%;
  right: 35%;
  box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  position: absolute;
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

 /*JOB LISTING STYLING*/
 .job {

   background-color: rgb(229, 117, 0);
   margin-bottom: 20px;
   padding: 20px 10px 20px 10px;
   box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
 }

 .jobs {
   background-color: rgb(229, 117, 0);
   margin-bottom: 20px;
   padding: 20px 10px 10px 10px;
   box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
 }

   .jobs:hover {
     background-color: #f98000;
     box-shadow: 0px 0px 0px rgba(130, 54, 0, 0.5);
     transition: box-shadow 0.3s, background-color 0.3s;
     /*transition: background-color 0.3s;*/
   }


/*SIDEBAR on employer and user page show*/
.sidebar .subheader {
  padding-left: 10px;
}
