/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
*/


/*GENERAL STYLES*/
/*@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/orangejuice.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/


body, html {
  background-color: #ff8300;
  font-family: 'OpenSans-Regular', sans-serif;
  height: 100%;
  width: 100%;
}

#container {
  /*position: relative;*/
  /*margin-bottom: 20px;*/
  /*border: 1px solid black*/
}

.top-bar {
  box-shadow: 0px 10px 15px rgba(130, 54, 0, 0.3);
}

table {
  box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
}

.mainheader {
  padding: 20px;
}

.v-center-align {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/*---------------------------------------------------------*/
/*Multi purpose styling*/

/*styling for the dark orange rows used in jobs and user pages as well as others. */
/*this class has a hover property attached to it*/
.dark-orange-row {
  background-color: rgb(229, 117, 0);
  margin-bottom: 20px;
  padding: 20px 10px 10px 10px;
  box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
}

  .dark-orange-row:hover {
    background-color: #f98000;
    box-shadow: 0px 0px 0px rgba(130, 54, 0, 0.5);
    transition: box-shadow 0.3s, background-color 0.3s;
    /*transition: background-color 0.3s;*/
  }

/*extra styling for the user page dark orange rows used in multiple things*/
/*also cancels the hover effect*/
.user-dark-orange-row {
  background-color: rgb(229, 117, 0);
  margin-bottom: 20px;
  padding: 30px;
  box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
}

/*this creates the tab look for user page and any where else this gets used*/
.tab {
  display: inline-block;
  text-align: right;
  width: 200px;
  position: absolute;
  transform: matrix(0, -1, 1, 0, -220, 10);
  transform-origin: right 0;
  background-color: inherit;
  color: inherit;
  padding-right: 10px;
}
/*---------------------------------------------------------*/
/*navigation styling*/

#offCanvas {
  padding-top: 80px;
}



/*---------------------------------------------------------*/

 /*BUTTON STYLING*/
 .button {
   background-color: #ff8300;
   box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
 }

 .button-center {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .button_spacing {
   margin: 0 10px 0 10px;
 }

 .button_dropshadow {

 }

   /*Button hover states*/
   .button:hover {
     background-color: #ff8300;
     box-shadow: 0px 0px 5px rgba(130, 54, 0, 0.5);
     transition: box-shadow 0.3s;
   }

.menu-button {
  position: absolute;
  left: 20px;
  z-index: 1;
  color: white;
}

/*---------------------------------------------------------*/

/*CALLOUT STYLING*/
/*fade out animation for the callout box*/
.callout {
  left: 35%;
  right: 35%;
  box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  position: absolute;
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*---------------------------------------------------------*/

/*SIDEBAR on employer and user page show*/
.sidebar .subheader {
  padding-left: 10px;
}

/*------------------------------------------------------------*/
/*slider styling */

.slider-column-center {

}

.slider-column-right {
  /*position: absolute;
  width: 60%;
  top: 0;
  bottom: 0;
  right: 0;*/
  transition: transform 1s ease-in-out;
}

/*hover states*/
.slider-column-center:hover {
  /*width: 55%;
  transition: width 1s ease-in-out;*/
}

.slider-column-center:hover + .slider-column-right {
  transform: translateX(93%);
  transition: transform 1s ease-in-out;
}

.slider-column-center:hover + .slider-column-right > .user-container {

}

/*---------------------------------------------------------*/
 /*FOOTER STYLING*/

 .footer {
   position: relative;
   z-index: 1;
   background-color: rgb(229, 117, 0);
   /*height: 170px;*/
 }
