// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-page {
}

.user-container {
  padding: 0 40px;
}

.user-container > .row {
  padding-left: 40px;
}

#user_resume, #user_information {
  box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.7);
}

// --------------------------------------------------
// background for the user picture
#user_picture_box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 65%;
}

// moved to application.css
// .gradient-overlay {
//   position: relative;
//   height: 100%;
//   width: 100%;
//   transform: translateY(-100%);
//   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8300+7,dd668f+51,fc4a2a+100&0.5+1,0.25+51,0.5+100 */
//   background: -moz-linear-gradient(-45deg,  rgba(255,131,0,0.5) 1%, rgba(255,131,0,0.47) 7%, rgba(221,102,143,0.25) 51%, rgba(252,74,42,0.5) 100%); /* FF3.6-15 */
//   background: -webkit-linear-gradient(-45deg,  rgba(255,131,0,0.5) 1%,rgba(255,131,0,0.47) 7%,rgba(221,102,143,0.25) 51%,rgba(252,74,42,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
//   background: linear-gradient(135deg,  rgba(255,131,0,0.5) 1%,rgba(255,131,0,0.47) 7%,rgba(221,102,143,0.25) 51%,rgba(252,74,42,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ff8300', endColorstr='#80fc4a2a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
// }

.user_picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-picture-edit-field {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

// --------------------------------------------------
// User information pane styling

#user_information {
  background-color: #ff8300;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 40%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.user-info-heading {
  margin-left: 110px;
  margin-bottom: 0;
}

.user-info-icon {
  position: absolute;
  text-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
}

.user-application {
  box-shadow: 0px 5px 15px rgba(130, 54, 0, 0.5);
  padding: 20px;
  margin: 20px;
}

// --------------------------------------------------
// user resume styling
#user_resume {
  background-color: white;
  color: #ff8300;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 35%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#real_resume {
  // position: absolute;
  // z-index: 0;
  // background-color: white;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

.user-resume-edit-field {
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
}
