<div class="row">
  <h2 class="subheader">Apply for job <%= @job.position %></h2>
  <%= form_for [@job, @app] do |app| %>

    <%= render(:partial => 'form', :locals => {:app => app}) %>

    <%= app.submit("Apply", :class => "success button") %>
  <% end %>
</div>
