  <div class="row">
    <div class="column small-12 red-row box-shadow text-center">
      <h2 class="subheader text-center mainheader">Apply for <%= @job.position %> at <%= @job.employer.company_name %></h2>
    </div>
  </div>

  <%= form_for [@job, @app] do |app| %>

    <%= render(:partial => 'form', :locals => {:app => app}) %>

  <% end %>
</div>
